/* Main container */
.coding-list-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  /* width: 90%; Adjusted width for better responsiveness */
  /* max-width: 1200px; Max width of the page */
  margin: 80px auto;
  background-color: #241c3d; /* Dark background */
  color: #f1f1f1; /* Lighter text */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Prevent overflowing */
  margin-left: 42px;
}

.page-title {
  font-size: 2em;
  color: #f1f1f1;
  margin-bottom: 20px;
  text-align: center;
}

.difficulty-selector {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between difficulty buttons */
}

/* Coding content layout using Grid */
.coding-content {
  display: grid;
  grid-template-columns: 600px 600px; /* Two equal columns for question list and Monaco editor */
  gap: 20px; /* Space between the columns */
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

.question-list-container,
.editor-container {
  background-color: #050c2b;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  overflow: hidden; /* Prevent overflow */
}

.editor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between navigation buttons */
  margin-top: 20px;
}

.navigation-button {
  padding: 10px 20px;
  background-color: #1f0d85;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation-button:hover {
  background-color: #555;
}

.navigation-button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

.execute-button {
  background-color: #6eca71;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.execute-button:hover {
  background-color: #45a049;
}

/* Question card */
.question-card {
  background-color: #1d1541;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  word-wrap: break-word; /* Ensure text wraps properly */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  max-height: 500px; /* Set a maximum height to trigger scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


.execution-results {
  margin-top: 20px;
}

/* Ensure Monaco editor doesn't overflow */
.monaco-editor {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word; /* Ensure the editor content wraps correctly */
}
