/* Main container */
.coding-list-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 1110px; /* Fixed width for the whole coding page */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 80px;
  background-color: #1e1e1e; /* Dark background */
  color: #f1f1f1; /* Lighter text */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 2em;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.difficulty-selector {
  width: 100%;
  margin-bottom: 20px;
}

.difficulty-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.difficulty-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.difficulty-button:hover {
  background-color: #555;
}

.difficulty-button.active {
  background-color: #4CAF50;
}

.coding-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.question-list {
  width: 48%; /* Take up nearly half the container */
}

.question-card {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.question-card h3 {
  margin-top: 0;
}

.edit-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #555;
}

.editor-container {
  width: 48%; /* Take up nearly half the container */
}

.editor-section {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
}

.execute-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

.execute-button:hover {
  background-color: #45a049;
}

.execution-results {
  margin-top: 20px;
}

.error-message {
  color: red;
}

.no-questions-message {
  text-align: center;
  color: #f1f1f1;
  margin-top: 20px;
}
