body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #2c2b3c; /* Dark violet-like background */
  color: #e0e0e0; /* Light text color */
}

.home {
  padding-top: 55px;
  margin-top: 10px;
  /* margin-left: 25px; */
  font-family: Roboto;
  position: relative;
  z-index: 1;
  width: 100%;
}

.intro {
  height: 560px;
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-left: 25px;
  background-image: url("../images/homePageImage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.h1-no-underline {
  text-decoration: none;
  width: 400px;
  margin-top: 0px;
  margin-left: 650px;
}

.intro h1 {
  width: 400px;
  margin-bottom: 0px;
  padding: 10px;
  display: inline-block;
  color: aliceblue;
  font-family: Roboto;
  font-size: 70px;
  text-shadow: 1px 1px #bdbdbd;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  transition: text-shadow 0.15s;
}

.intro h1:hover {
  text-shadow: 1px 1px #a89595;
  display: inline-block;
}

.intro p {
  width: 500px;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  /* color: aliceblue; */
  margin-top: 50px;
  cursor: text;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}

.intro button {
  margin-left: 50px;
  margin-bottom: 40px;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: rgb(65, 51, 78); /* Dark purple button */
}

.navigate {
  height: 100px;
  margin: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.item {
  background-color: #3b2a52; /* Dark violet-like background */
  margin: 20px;
  padding: 20px 30px 20px 30px;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 50px 1fr;
  cursor: pointer;
  transition: margin 0.05s, box-shadow 0.05s, padding 0.5s, color 0.05s;
}



.item img {
  width: 30px;
  text-decoration: none;
}

.icon {
  margin-right: 0px;
  width: 30px;
}

.msg {
  display: flex;
  flex-direction: column;
}

.no-underline {
  text-decoration: none;
}

.msg div {
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.msg p {
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 100;
  color: rgb(231, 213, 213); /* Lighter gray text */
}

.item:hover {
  margin: 20px;
  padding: 23px 33px 23px 33px;
  background-color: rgb(65, 51, 78); /* Dark purple button */
  color: #2c2b3c;
}

.item:active {
  margin-left: 29px;
  margin-top: 29px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  color: #2c2b3c;
}

.why-us {
  background-color: #3b2a52; /* Dark violet-like background */
  margin: 50px 145px 20px 145px;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: 30px 1fr;
}

.question {
  font-size: 25px;
  font-weight: 700;
}

.answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 0px;
}

.why-us-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin: 10px 20px 10px 0px;
}

.logo {
  width: 40px;
  margin-right: 10px;
  padding: 10px 0px 10px 0px;
  text-align: left;
}

.logo img {
  width: 50px;
}

.explanation {
  margin-left: 5px;
  padding: 10px 20px 10px 10px;
}

.headingHome {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 500;
}

.sub-head {
  margin-bottom: 10px;
  color: rgb(150, 150, 150); /* Lighter gray text */
}


.color-empty {
  fill: #ebedf0;
}
.color-scale-1 {
  fill: #c6e48b;
}
.color-scale-2 {
  fill: #7bc96f;
}
.color-scale-3 {
  fill: #239a3b;
}
.color-scale-4 {
  fill: #196127;
}


@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Slide in from above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Default position */
  }
}

.page-container {
  animation: fadeInSlide 0.8s ease-in-out; /* Fade and slide effect */
}